*
{
	font-family: 'Roboto Condensed', sans-serif;
}

.container
{
	padding: 0px;
	margin: 0px;
	width: 100%;
}


.header1
{
	box-sizing: border-box;
	margin: 2% 0% 0%;
	background: #0020AC;

}
.main-menu
{
	margin: 7px 0px;
}
li
{
	list-style: none;
	
}
.navbar-nav>li>a
{
	padding: 5px 10px;
	margin: 2px;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
}
.navbar-nav>li>a:hover
{
	background:  #6814FF;
	color: black;
}


.misti
{
	width: 18%
}
.electresol
{
	width: 15%
}
.logos1
{
	width: 100%;
	padding: 0px;
}
.logos2
{
	width: 100%;
	padding: 0px;
}
.menu2
{
	margin bottom: 40px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: black;
	font-size: 16px;
    font-weight: normal;
    text-shadow: 1px 1px #999;}
.navbar-default .navbar-nav>li>a:hover
{
	background: #6C7F80;
	color: #fff;
}
.azul
{height: 6px;
	background: #0020AC;
}
.rojo
{height: 6px;
	background: #FF0000;
}
.morado
{height: 6px;
	background: #6814FF;
}
.anaranjado
{height: 6px;
	background: #FF3B00;
	box-sizing: border-box;
	padding: 0px;
	padding-left: 0.5% #fff;
}
img
{
	width: 100%;
}
.productlink
{
	position: relative;
	
}
.linksp
{
	margin: 0% 0% 11% -12% ;
	text-align: left;
	padding: 5%;
}
.linksp>a
{
	color: #fff;
	font-size: 22px;
	text-decoration: none;

	

}
.imagenes
{
	margin: 20px 0px;
}
.imagenes .col-sm-6
{
	padding: 0px
}
.clie
{
	padding: 3% 2%;
}
.listclien
{
	background: gray;
	box-sizing: border-box;
	padding: 10px;
}

.titulos
{
	text-align: center;
	padding: 20px 0px;
}
.titulos a
{
	text-decoration: none;
	background: #FF3B00;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	color: #fff;

}
.titulos span
{
	background: #FF3B00;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	color: #fff;
}
.animacion
{

    margin-top: 30px;
    border: : 3px red;
}
.ofers
{
	color: #FF3B00;
	font-weight: 400;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
.oofertas
{
	height: 310px;
}
.footer
{
	background: #0020AC;
	padding: 1% 8%;
}
.picture
{
	padding: 0px;
}
.word
{
	height: 310px;
	background: 	 #8c8c8c;
	padding: 4%;
	box-sizing: border-box;
}
.textofertas
{
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	color:  #FF3B00;
	
}
iframe
{
	margin-top: 0.5%;
	
}
.mapa{
	text-align: center;
	margin-top: 3.5%;
}
.texto
{
	margin-top: 1.5%;	color: #fff;
}
.direcciones
{
	padding: 0px;

}
.direcciones li img
{
	
    width: 150px;
    padding: 2%;
}
.direcciones 
{
	
	padding: 0px 0px 5px 0px;


}
.direcciones li
{
	margin: 4px;
	padding: 0px 0px 2px 0px;
	font-size: 13px;
	font-weight: normal;

}
.tarjetas
{    height: 31px;
    width: 88px;}
/*contacto*/
.form-control
{
	border-radius: 0;
}
.form-group
{
	margin-bottom: 8%;
}
.formulario
{
	margin: 60px 0px;
}
label {
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}
button
{
	background:  #FF3B00;
	
}
.botones
{
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding: 8px 16px;
}
.ciudades
{
	padding: 0px;
}
.sucursales
{
	border: 10px #FF3B00;
	background: #ffd9b3;
	box-sizing: border-box;
	padding: 40px;
	outline: 5px orange;

}
.sucursales h4,.sucursales h3
{
	color: #FF3B00
}
.lineasdef
{
	margin-top: 20px;
}
.thumbnail
{
	padding: 2px;
    background-color: #FF3B00;
    border: 0.1px #FF3B00;
}